# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Pyenv
.python-version

# Env files
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Local SQLite DB
students.db
